.App {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  background-color: gainsboro;
}

.AppHeader {
  padding-top: 20px;
}

.addContactForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.addContactForm  input {
  padding: 2px;
  margin-top: 4px;
}

.addContactForm button {
  margin-top: 4px;
}

.addContactForm fieldset {
  margin-top: 2px;
}

.searchForm {
  width: 300px;
  margin: 20px auto 10px;
}

.searchForm input {
  width: 190px;
  margin-right: 5px;
  padding: 2px;
}

.searchForm button {
  width: 90px;
}

.contactsListContainer {
  width: 100%;
}

.contactsContainer {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.contactsContainer input {
  width: 300px;
  text-align: center;
  margin: 2px auto;
  padding: 2px;
}

.buttonsContainer {
  width: 300px;
  margin: 2px auto;
}

.buttonsContainer button {
  width: 33%;
}

button:hover {
  cursor: pointer;
}

#delete {
  background-color: red;
  color: white;
  border: none;
  padding: 4px 2px;
}

#delete:hover {
  background-color: darkred;
}

#edit {
  background-color: rgb(1, 1, 163);
  color: white;
  border: none;
  padding: 4px 2px;
}

#edit:hover {
  background-color: blue;
}

#update {
  border: 1px solid grey;
  padding: 3px 1px;
}

#update:hover {
  background-color: darkgray;
  color: white;
}

#update:disabled {
  background-color: #aaaaaa2c;
  pointer-events: none;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
